# Environnement virtuel
venv/
env/
.venv/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Fichiers d'embeddings
*.pkl

# Variables d'environnement
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
